set blink-matching-parent on
set completion-ignore-case on

set completion-query-items 40

"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

"\C-w": backward-kill-word

"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOH": beginning-of-line
"\eOF": end-of-line
"\e[H": beginning-of-line
"\e[F": end-of-line

# Delete Key
"\e[3~":delete-char
# Insert Key
"\e[2~":paste-from-clipboard

# Insert double quotes & set cursor between them
#"\C-x\"": "\"\"\C-b"
#
# Insert single quotes & set cursor between them
#"\C-x'": "''\C-b"

#The first uncommented line means "Don't ring a bell. Show multiple options$
# go right to showing multiple options
set show-all-if-ambiguous on
# TAB by itself cycles through options
"\t": menu-complete
